:root{
  --size: 1000px;
  --size-half: 500px;
}
body{
  margin: 0;
  overscroll-behavior-y: none;
  height:100%;
  min-height:100%;
  overflow:hidden;
}
canvas{
  position: absolute;
  border-radius: 50%;
  width: var(--size);
  height: var(--size);
}
#canvas{
  background-color: rgb(0,230,100);
}
canvas.puzzle{
  width: 0px;
  height: 0px;
  border-top: var(--size-half) solid red;
  border-left: var(--size-half) solid transparent;
  border-right: var(--size-half) solid transparent;
  border-bottom: var(--size-half) solid transparent;
  transition-duration: 2s;
  transition-timing-function: ease-out;
}

#area{
  position: absolute;
  width:var(--size);
  height:var(--size);
  left: 50%;
  top: 30%;
  transform: translate(-50%,-50%);
}

canvas:hover{
  cursor:grab;
}

canvas:active{
  cursor:grabbing;
}
